*.code-workspace
*/node_modules/*
back/.env
*.env*
back/sessions/*
*.vscode/*
*/package-lock.json
jsconfig.json
*npm-debug.log
.DS_Store
front/.DS_Store
front/pages/.DS_Store
*package-lock.json
package-lock.json
*/coverage/*
back/package-lock.json
**/docs
*.pem
front/SMART/android/java_pid4110.hprof
